@mixin large {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 576px) and (max-width: 767.98px) {
    @content;
  }
}

@mixin wide-mobile {
  @media (min-width: 480px) and (max-width: 767.98px) {
    @content;
  }
}

@mixin sm-mobile {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: 991.98px) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

@mixin cmq($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin vertical-scrollbar($width, $bgTrack, $bgTumb, $bgHover) {
  &::-webkit-scrollbar { width: $width; }
  &::-webkit-scrollbar-track { background: $bgTrack; }
  &::-webkit-scrollbar-thumb { background: $bgTumb; border-radius: 10px; }
  &::-webkit-scrollbar-thumb:hover { background: $bgHover; }
}

@mixin horizontal-scrollbar($height, $bgTrack, $bgTumb, $bgHover) {
  &::-webkit-scrollbar { height: $height; }
  &::-webkit-scrollbar-track { background: $bgTrack; }
  &::-webkit-scrollbar-thumb { background: $bgTumb; border-radius: 10px; }
  &::-webkit-scrollbar-thumb:hover { background: $bgHover; }
}
